*= require pasword
/* контейнер по центру */
.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
     background-color: #000; /* чорний фон */
    font-family: 'Poppins', sans-serif; /* сучасний шрифт */
    margin: 0;
    padding: 0;
}

/* сама форма */
.password-box {
    background: #111;
    padding: 40px;
    border: 2px solid #d4af37; /* золотий бордер */
    border-radius: 12px;
    text-align: center;
    width: 350px;
}

/* заголовок */
.password-box h1 {
    color: #d4af37;
    margin-bottom: 25px;
    font-size: 32px;
}

/* поле вводу */
.password-box input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #d4af37;
    border-radius: 6px;
    background: #000;
    color: white;
    font-size: 16px;
}

/* кнопка */
.password-box button {
    width: 100%;
    padding: 12px;
    background: #d4af37;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.password-box button:hover {
    background: #b8962e;
}




