.password-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-box {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  color: #d4a356;
  border-radius: 16px;
  border: 1px solid rgba(212, 163, 86, 0.2);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  color: #d4a356;
  border: 1px solid #a67c37;
  border-radius: 8px;
}

.form-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #d4a356;
  cursor: pointer;
}

.form-error {
  color: #d4a356;
  margin-bottom: 12px;
}

.link-forgot-password {
  color: #d4a356;
  text-decoration: none;
}

.link-sign-up {
  color: #d4a356;
  text-decoration: none;
}
.input-with-icon {
  position: relative;
}

.form-input {
  width: 100%;
  padding-right: 40px;
}

.combo {
  position: relative;
}

.combo .trigger {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 22px;
}
